/*
	@name desktop___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1600px; width: 1600px; height: 2619px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1600px;
	height: 2619px;
}

#_bg__desktop___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1600px;
	height: 2619px;
	background:rgba(255,255,255,1);
}


#achievement {
	top: 1920px;
	left: 0px;
	width: 1600px;
	height: 699px;
	background:rgba(244.37,243.76,243.76,1);
}


#__bronze_medal__poster_category_pkm_k_pimnas_2021__pkm_k_terdanai_pimnas_2021_1st_place_game__development_competition_mage_5_2019_2019 {
	top: 2096px;
	left: 543px;
	width: 921px;
	height: 195px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#pexels_rodnae_productions_7005501_1 {
	top: 2043px;
	left: 116px;
	width: 374px;
	height: 486px;
}

#about_me {
	top: 960px;
	left: 0px;
	width: 1600px;
	height: 1040px;
}

#about_me_ek1 {
	top: 0px;
	left: 0px;
	width: 1600px;
	height: 960px;
	background:rgba(255,255,255,1);
}


#logo__1__2 {
	top: 758px;
	left: 773px;
	width: 106px;
	height: 90px;
}


#about_me_ek2 {
	top: 114px;
	left: 681px;
	width: 291px;
	height: 90px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 48px;
	font-weight: bold;
	text-align: left;
	color:#BF2051;
}


#achievement_ek1 {
	top: 993px;
	left: 689px;
	width: 319px;
	height: 75px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	color:#BF2051;
}


#i_am_a_creative_and_passionate_learner_from_institut_teknologi_sepuluh_nopember_majoring_in_computer_engineering__served_as_a_lab_assistant_in_b201_telematics_laboratory_in_the_field_of_application_development_ {
	top: 397px;
	left: 181px;
	width: 1248px;
	height: 192px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 32px;
	text-align: center;
	color:#000000;
}

#home {
	top: 0px;
	left: -97px;
	width: 1697px;
	height: 960px;
}

#top_home {
	top: 0px;
	left: 97px;
	width: 1600px;
	height: 960px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-96.158001082428deg , rgba(19,25,37,1) 0%, rgba(25,32,47,1) 75%);
	background: -o-linear-gradient(-96.158001082428deg , rgba(19,25,37,1) 0%, rgba(25,32,47,1) 75%);
	background: -moz-linear-gradient(-96.158001082428deg , rgba(19,25,37,1) 0%, rgba(25,32,47,1) 75%);
	background: -ms-linear-gradient(-96.158001082428deg , rgba(19,25,37,1) 0%, rgba(25,32,47,1) 75%);
	background: linear-gradient(-96.158001082428deg , rgba(19,25,37,1) 0%, rgba(25,32,47,1) 75%);
}


#whatsapp_image_2022_08_31_at_19_1 {
	top: 118px;
	left: 0px;
	width: 855px;
	height: 839px;
}


#hi {
	top: 340px;
	left: 950px;
	width: 209px;
	height: 153px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 84px;
	text-align: left;
	color:#BF2051;
}


#logo__1__1 {
	top: 28px;
	left: 1380px;
	width: 266px;
	height: 90px;
}


#i_m_farid_cenreng {
	top: 418px;
	left: 950px;
	width: 570px;
	height: 120px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 64px;
	text-align: left;
	color:#BF2051;
}


#web___app_developer {
	top: 477px;
	left: 950px;
	width: 451px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: left;
	color:#BF2051;
}



/* Add your custom CSS here */
