@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap");

header {
  display: inline;
  text-align: right; /*flex;
  align-items: flex-end;
  flex: 1;*/
}
nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}
nav ul {
  margin: 10px 0 10px 0;
}
nav a {
  color: white;
  margin-bottom: 30px;
  font-size: 20px;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
nav a:hover {
  font-weight: bold;
}
nav {
  background-color: #131925;
  padding: 5px;
  margin: 0;
  position: sticky;
  top: 0;
}
#logo_home {
  margin-left: 35px;
  height: 70px;
  bottom: 10px;
}
.homepage {
  display: flex;
  align-items: flex-start;

  height: 90vh;
  background: -webkit-linear-gradient(
    -96.158001082428deg,
    rgba(19, 25, 37, 1) 0%,
    rgba(25, 32, 47, 1) 75%
  );
}

#foto {
  margin: auto 70px 0 0;
  bottom: 0px;
  left: 0px;
  width: 855px;
  height: 839px;
}
.home_info {
  margin: auto auto auto 0;
}
#home_ul {
  left: 0;
  top: auto;
  bottom: auto;
  margin: auto auto auto 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
#hi {
  color: #bf2051;
  font-size: 84px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 130%;
}
#im {
  color: #bf2051;
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#fc {
  color: white;
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#wadev {
  color: #bf2051;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.li_info {
  line-height: 220%;
}
#about_me_page {
  height: 60vh;
  text-align: center;
}
#am_tab {
  display: block;
  position: relative;
  top: -25vh;
  visibility: hidden;
}
h1 {
  margin: 10% auto auto auto;
  color: #bf2051;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
p {
  margin: 10% auto 15% auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: x-large;
  width: 60%;
}
#acv_page {
  height: 75vh;
  text-align: center;
  background-color: rgb(233, 227, 227);
}
#piala {
  height: 20%;
  float: left;
  margin: 0 10vh 5vh 10vh;
}
#acv {
  padding-top: 5%;
}
#acv_tab {
  display: block;
  position: relative;
  top: -25vh;
  visibility: hidden;
}
#acv_article {
  margin: 30px auto 50px auto;
}
#ul_acv {
  text-align: left;
  top: auto;
  bottom: auto;
  left: 50px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left;
  list-style: none;
  font-size: 32px;
}
blockquote {
  padding: 0 10% 0 10%;
}
#story_page {
  height: 100vh;
  text-align: center;
  background-color: white;
}
#story {
  padding-bottom: 5%;
}
#story_tab {
  display: block;
  position: relative;
  top: -25vh;
  visibility: hidden;
}
#foto_story {
  height: 20%;
  float: left;
  margin: 0 10vh 5vh 10vh;
  text-align: left;

  color: #bf2051;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
#foto_story li {
  list-style-type: none;
}
#p_story {
  margin: 0 auto 15% auto;
  width: 80%;
  text-align: justify;
}
#contact_page {
  height: 70vh;
  text-align: center;
  background-color: #020c20;
}
#contact_int {
  padding-top: 10%;
  color: #bf2051;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
#contact_me {
  margin: 2% auto auto auto;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 48px;
}
#contact_page ul {
  list-style-type: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
}
#foot {
  background-color: #131925;
  padding: 5px;
  margin: 0;
  position: sticky;
  bottom: 0;
}
footer {
  display: inline;
  text-align: left;
}
#porto {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
#ig {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
#contact_tab {
  display: block;
  position: relative;
  top: -25vh;
  visibility: hidden;
}
